<template name="index">
	<div class='text'>
		<h1>RocketChat</h1>
		<h2>{{_ "Your_Open_Source_solution"}}</h2>
	</div>
	<a href="https://demo.rocket.chat" class="screen">
		<span>
			<i></i>
			<i></i>
			<i></i>
		</span>
		<figure>
		</figure>
		<button class="button red"><span>{{_ "Access_online_demo"}}</span></button>
	</a>
	<div class='text'>
		<p>{{_ "Have_your_own_chat"}}</p>
	</div>
	<a class='text braziljs' style="background-color: black; padding: 20px; display: block;" href="http://braziljs.com.br/">
		<h2 class="birthday">Celebrating the 20th anniversary of JavaScript</h2>
		<h2 class="lauching">We are lauching our Public Beta</h2>
		<h3 class="slogan">At the greatest Javascript conference in the Universe</h3>
		<img class="braziljs" src="/images/braziljs.svg" alt="braziljs logo" style="max-width: 200px; margin: auto; padding: 20px; display: block;">
		<span class="date-local">August 21 and 22 | Porto Alegre, RS, Brazil</span>
	</a>
	<div class='text'>
		<a class="button" href="https://demo.rocket.chat"><span>{{_ "Access_Online_Demo"}}</span></a>
	</div>
</template>
